
nav {
  position: sticky;
  top: 0;
  height: 100vh;
}


.sidebar-nav {
  height: calc(100vh - 80px);
  overflow-y: auto;
}


.sidebar-nav li {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 5px;
}

.sidebar-nav li:hover {
  background-color: rgba(173, 173, 173, 0.568);
}
.sidebar-nav li.active {
  background-color: rgb(21, 155, 199);
}


.sidebar-nav i {
  margin-right: 8px;
}


@media (max-width: 767px) {
  header {
    gap: 10px;
  }
}

.back:hover {
  background-color: red !important;
}

.action i {
  cursor: pointer;
}
