.container{
    height: 100vh;
    width: 100%;

display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: .5fr 1fr 1fr 1fr 1fr ;
  gap:1px;
  


}

.nav{grid-column: 1/2; background-color: rgb(4, 31, 62); padding: 20px;
grid-row: 1/5; display: flex; flex-direction: column; justify-content: space-evenly;}
.header{grid-column: 2/5; background-color: white;border: 1px solid black;
grid-row:1/2; display: flex; justify-content: space-between;}
.content{grid-column: 2/5;
grid-row: 2/5; background-color: rgb(246, 244, 244);}

ul{display: flex; flex-direction: column;list-style-type: none; padding: 10px;}
li{margin: 30px; width: 100%; border-radius: 50px; padding: 1px; text-align: center;}
li:hover{color: rgb(255, 255, 255); background-color: rgb(4, 31, 62); cursor: pointer;}
li:active{color: rgb(255, 255, 255); background-color: rgb(14, 23, 196); cursor: pointer;}
   
   i{color: #ffffff; transform: scale(.9);}
   
   