/* landing.css */

.logo-circle {
  width: 36px;
  height: 36px;
  background: #2563eb;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
.nav-link:hover {
  color: #2563eb;
}
.elog {
  font-size: 17px;
  font-weight: bold;
}
/* ===== Footer ===== */
.footer-bg {
  background-color: #0f172a;
}

/* Footer links */
.footer-bg a {
  transition: color 0.2s ease;
}

.footer-bg a:hover {
  color: #2563eb !important; /* نفس الأزرق اللي في الصورة */
}

#heroSection {
  background-image:
    linear-gradient(rgba(37, 99, 235, 0.9), rgba(29, 78, 216, 0.9)),
    url(https://images.unsplash.com/photo-1758272423130-5bbccae36b11?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=1080);
  background-size: cover;
  background-position: center;
}

.large-font {
  font-size: 3rem;
}

.signUp-hover {
  border: 2px solid white;
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-primary-rgb),
    var(--bs-bg-opacity)
  ) !important;
}
.signUp-hover:hover {
  --bs-bg-opacity: 0.5;
}

#heroSection #shopNowButton:hover i {
  transform: translate(10px) !important;
  transition: 1s;
}
@media screen and (min-width: 1400px) {
  .hero-header {
    width: 50% !important;
  }
}

#CategoriesContainer .category:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05) !important;
  cursor: pointer;
}

#featuredProducts .wishBtn:hover i {
  color: red;
}

.cardContainer .card img:hover {
  transition: 1s ease;
  transform: scale(1.1);
}

.cardContainer .card h5:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #3b89fd;
}

/* dark theme fix */

html[data-bs-theme="dark"] .rating-item-icon {
  background-color: rgb(172, 172, 172);
}
