/* landing.css */
#heroSection {
  background-image:
    linear-gradient(rgba(37, 99, 235, 0.9), rgba(29, 78, 216, 0.9)),
    url(https://images.unsplash.com/photo-1758272423130-5bbccae36b11?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=1080);
  background-size: cover;
  background-position: center;
}

.large-font {
  font-size: 3rem;
}

.signUp-hover {
  border: 2px solid white;
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-primary-rgb),
    var(--bs-bg-opacity)
  ) !important;
}
.signUp-hover:hover {
  --bs-bg-opacity: 0.5;
}

#heroSection #shopNowButton:hover i {
  transform: translate(10px) !important;
  transition: 1s;
}
@media screen and (min-width: 1400px) {
  .hero-header {
    width: 50% !important;
  }
}

#CategoriesContainer .category:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05) !important;
  cursor: pointer;
}

#featuredProducts .wishBtn:hover i {
  color: red;
}

#featuredProducts .view-all:hover {
  cursor: pointer;
}
#featuredProducts .view-all:hover i {
  transition: 1s;
  transform: translate(10px);
}
.cardContainer .card img:hover {
  transition: 1s ease;
  transform: scale(1.1);
}

.cardContainer .card h5:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #3b89fd;
}

/* dark theme fix */

html[data-bs-theme="dark"] .rating-item-icon {
  background-color: rgb(172, 172, 172);
}
